.rating-container {
    display: flex;
    gap: 1%;
}

.rating-star-full {
    height: 2vw;
    color: #FF6060;
}

.rating-star-empty {
    height: 2vw;
    color: #EEEEEE;
}

/* /////////////////////////////////////////////////// MEDIA QUERIES ////////////////////////////////////////////////////// */

@media (max-width: 480px) {
    .rating-star-full, .rating-star-empty {
        height: 4vw;
    }
}