.housing-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.housing-first-layer {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 1vw 0 0 0;
}

.housing-title {
    font-size: 2.5vw;
    color: #FF6060;
}

.housing-location {
    font-size: 1.4vw;
    color: #FF6060;
    position: relative;
    bottom: 1.25vw;
    margin: 0;
}

.housing-second-layer {
    height: 10vw;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1vw;
}

.housing-tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.housing-third-layer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.housing-collapse {
    width: 47%;
    display: flex;
    justify-content: space-between;
}

/* /////////////////////////////////////////////////// MEDIA QUERIES ////////////////////////////////////////////////////// */

@media (max-width: 480px) {
    .housing-infos {
        flex-direction: column;
        align-items: flex-start;
    }

    .housing-first-layer {
        width: 100%;
        gap: 1vw;
    }

    .housing-title {
        width: 75%;
        font-size: 6vw;
        margin: 0;
    }

    .housing-location {
        font-size: 4vw;
        bottom: 0;
    }

    .housing-second-layer {
        width: 100%;
        align-self: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 3vw;
    }

    .housing-third-layer {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 62px;
    }

    .housing-collapse {
        width: 92%;
    }
}