.thumbs-container {
    width: 94%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    background-color: #EEEEEE;
    border-radius: 25px;
    margin: 40px 0 20px 0;
    padding: 3%;
    gap: 4vw;
}

/* /////////////////////////////////////////////////// MEDIA QUERIES ////////////////////////////////////////////////////// */

@media (max-width: 480px) {
    .thumbs-container {
        width: 100%;
        flex-direction: column;
        background-color: #FFFFFF;
        padding: 0;
        margin: 20px 0 40px 0;
    }
}