.collapse {
    height: fit-content;
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% auto;
}

.collapse-container {
    width: 100%;
    height: 4.2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    border-radius: 5px;
    padding: 0 2%;
}

.collapse-container svg {
    height: 2vw;
}

.collapse-container:hover {
    cursor: pointer;
}

.collapse-container p {
    font-size: 1.6vw;
    color: #FFFFFF;
}

.collapse-toggle-opened {
    color: #FFFFFF;
    transition: all .25s ease;
    rotate: 180deg;
}

.collapse-toggle-closed {
    color: #FFFFFF;
    transition: all .25s ease;
    rotate: 0deg;
}

.collapse-dropdown-opened {
    width: 100%;
    background-color: #eeeeee;
    border-radius: 0 0 5px 5px;
    padding: 0 2%;
    display: block;
}

.collapse-dropdown-opened p, .array-li {
    font-size: 1.2vw;
    color: #FF6060;
}

.collapse-dropdown-closed {
    display: none;
}

.array-ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 2.5% 1%;
}