nav {
    display: flex;
    justify-content: center;
    gap: 4vw;
    white-space: nowrap;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 6% 0 5.5%;
}

.header-logo {
    height: 4vw;
    width: auto;
}

.header-link {
    font-size: 1.3vw;
}